body {
  background-color: #000;
}

#space {
  margin-top: 100px;
  height: 600px;
  -webkit-perspective: 800;
  -webkit-perspective-origin: 50% 200px;
}

.shape {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;
}

.shape .face {
/*      -webkit-transition: opacity, -webkit-transform 2s linear;*/
}

.shape .face .content {
/*      -webkit-transition: opacity 0.8s linear;*/ 
}

.cube .face {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 20px;
/*  background-color: rgba(50, 50, 50, 0.7);*/
  font-size: 27px;
  line-height: 1em;
  color: #fff;
  border: 1px solid #555;
}

.cube .three .content {
  background: url(/images/forward.png) no-repeat bottom;
  height: 250px;
}

/* so that no forward arrow appears when there is a wall */
.cube .wall .content {
  background-image: none;
}

.face .selected {
  border: 2px solid green;
}

/* Cube */
.roof,
.floor,
.wall {
  background: url(/images/wall.jpg) no-repeat;
}

.roof {
  background-position: -400px 0;
}

.floor {
  background-position: -400px -800px;
}

.cube .one  {
  -webkit-transform: translateZ(200px);
}

.cube .two {
  -webkit-transform: rotateY(270deg) translateZ(-200px);
  background-position: -800px -400px;
}

.cube .three {
  -webkit-transform: rotateY(360deg) translateZ(-200px);
   background-position: -400px -400px;
}

.cube .four {
  -webkit-transform: rotateX(90deg) translateZ(200px);
}

.cube .five {
  -webkit-transform: rotateY(90deg) translateZ(-200px);
  background-position: 0 -400px;
}

.cube .six {
  -webkit-transform: rotateX(90deg) rotate(360deg) translateZ(-200px) ;
}

/* Only for the lightbulb, not necessary at this stage */
#space { position: relative; }

.lightBulb { 
  background: url(/images/light.png) no-repeat;
  width: 150px;
  position: absolute;
  height: 190px;
  right: 10px;
  top: 0;
}

.item {
  background: url(/images/frame.png) no-repeat;
  width: 160px;
  height: 160px;
  padding: 50px;
  margin: 40px auto 0;
}

.delete {
  
}

#searchBox {
  float: left;
  width: 200px;
  margin-top: -80px;
  font: 0.6em arial;
  color: #525252;
  line-height: 1.5em;
}

#searchBox .field_wrapper {
  -webkit-border-radius: 5px;
  width: 195px;
  background-color: #fff;
  height: 32px;
  padding: 2px;
  margin-bottom: 10px;
}

#searchBox #search_text {
  border: none;
  padding: 5px;
  font: 1.8em arial;
  float: left;
  width: 155px;
  outline: none;
}

#searchBox #go {
  border: none;
  background: #fff url(/images/search.jpg) no-repeat right;
  height: 30px;
  text-indent: -100000px;
  width: 30px;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

#toolbar {
  float: right;
  width: 200px;
  margin-top: -105px;
  color: #fff;
}

#toolbar span {
  display: block;
}

#toolbar span {
  background-repeat:  no-repeat;
  padding: 20px 0 18px 63px;
  font: bold 1.2em arial;
  color: #ccc;
}

#toolbar span:hover {
  cursor: pointer;
}

.deleteWall {
  background-image: url(/images/delete.png);
}

.addItem {
  background-image: url(/images/add.png);
}

#results ul {
  margin: 0;
  padding: 0;
}

#results ul li {
  list-style-type: none;
  margin: 0;
  width: 66px;
  height: 66px;
  float: left;
}

#results img {
  height: 60px;
  width: 60px;
  border: 1px solid #000;
}

#results img:hover {
  border-color: #ccc;
  cursor: pointer;
}



